img{
    width: 200px;
}
body{
    color: white;
    background-color: black;
    font-family: "Arial";
    text-align: left;
}
.whitebox {
    text-align: center; 
    background-color: white;
}
.center{
    text-align: ceneter;
}
.green{
    color: green;
}